body{
    font: 20pt normal, arial;
    background-color: rgba(21, 95, 231, 0.842);
}

#icon{
    border-radius: 50%;
}

#titulo{
    padding: 20px;
}

#img-titulo{
    border-radius: 50%;
    width: 50px;
    height:50px;
}

.static-page{
    color: white;
    text-align: center;
}

#main-page{
    margin: auto;
    width: 1080px;
    height: auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.425);
    background-color: white;
}

#rodape{
    padding: 5vw;
}

